.loggedOutMessage {
  display: flex;
  flex: 1;
  flex-direction: column;
  max-width: 880px;
  margin: 0 auto;
  padding: var(--main-content--padding);

  h1,
  h2 {
    margin-bottom: 0.5rem;
  }

  a {
    color: var(--color--theme--light);
    text-decoration: underline;
  }

  p {
    font-size: var(--font-size--lg);

    &:not(:last-child) {
      margin-bottom: 2rem;
    }
  }

  li:not(:last-child) {
    margin-bottom: 0.5rem;
  }

  li > p:not(:last-child) {
    margin-bottom: 1rem;
  }

  code {
    background: rgba(99, 110, 123, 0.4);
  }

  :not(pre) > code {
    border-radius: 0.125rem;
    padding: 0.125rem 0.25rem;
    font-size: 85%;
  }

  pre {
    display: block;
  }

  pre > code {
    display: block;
    border-radius: 0.25rem;
    white-space: pre-wrap;
    padding: 0.5rem;
  }

  ol:not(:last-child) {
    margin-bottom: 2rem;
  }
}
