@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans;
    @apply p-0;
    @apply tracking-[0.015rem];
    @apply overscroll-y-none;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-title;
    @apply font-bold;
  }

  h1 {
    @apply text-3xl;
    @apply mb-2;
  }

  h2 {
    @apply text-2xl;
  }

  a {
    @apply no-underline;
    @apply text-inherit;
    @apply hover:underline;
  }
}

@layer components {
  #root {
    @apply min-h-screen;
    @apply h-full;
  }

  .markdown {
    --block-element-spacing: 1.5rem;
    --text-spacing: 1.25rem;
  }

  .markdown p:not(:last-child) {
    margin-bottom: var(--text-spacing);
  }

  .markdown :not(pre) > code {
    background-color: var(
      --markdown-bg-inline-code,
      var(--background--surface)
    );
    @apply rounded-sm;
    @apply py-px;
    @apply px-1;
  }

  .markdown a {
    @apply underline;
  }

  .markdown blockquote {
    @apply border-l-4;
    @apply border-l-surface;
    @apply pl-2;
    @apply text-offwhite/80;
  }

  .markdown blockquote:not(:last-child) {
    margin-bottom: var(--block-element-spacing);
  }

  .lucide[width] {
    max-width: unset;
  }
}
