@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans p-0 tracking-[0.015rem] overscroll-y-none;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-title font-bold;
  }

  h1 {
    @apply text-3xl mb-2;
  }

  h2 {
    @apply text-2xl;
  }

  a {
    @apply no-underline text-inherit hover:underline;
  }
}

@layer components {
  #root {
    @apply min-h-screen h-full;
  }

  .markdown {
    --block-element-spacing: 1.5rem;
    --text-spacing: 1.25rem;
  }

  .markdown p:not(:last-child) {
    margin-bottom: var(--text-spacing);
  }

  .markdown :not(pre) > code {
    background-color: var(
      --markdown-bg-inline-code,
      var(--background--surface)
    );
    @apply rounded-sm py-px px-1;
  }

  .markdown a {
    @apply underline;
  }

  .markdown blockquote {
    @apply border-l-4 border-l-surface pl-2 text-offwhite/80;
  }

  .markdown blockquote:not(:last-child) {
    margin-bottom: var(--block-element-spacing);
  }

  .lucide[width] {
    max-width: unset;
  }
}
