:root {
  --color--green: hsl(140, 63%, 44%);
  --color--green--light: hsl(140, 63%, 54%);
  --color--offwhite: #b3b3b3;
  --color--white: #fff;

  --color--theme: var(--color--green);
  --color--theme--light: var(--color--green--light);

  --font-size--xs: 0.625rem;
  --font-size--sm: 0.75rem;
  --font-size--md: 1rem;
}

@font-face {
  font-family: spotify-circular;
  src: url(https://open.scdn.co/fonts/CircularSpUIv3T-Light.woff2)
      format('woff2'),
    url(https://open.scdn.co/fonts/CircularSpUIv3T-Light.woff) format('woff'),
    url(https://open.scdn.co/fonts/CircularSpUIv3T-Light.ttf) format('ttf');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: spotify-circular;
  src: url(https://open.scdn.co/fonts/CircularSpUIv3T-Book.woff2)
      format('woff2'),
    url(https://open.scdn.co/fonts/CircularSpUIv3T-Book.woff) format('woff'),
    url(https://open.scdn.co/fonts/CircularSpUIv3T-Book.ttf) format('ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: spotify-circular;
  src: url(https://open.scdn.co/fonts/CircularSpUIv3T-Bold.woff2)
      format('woff2'),
    url(https://open.scdn.co/fonts/CircularSpUIv3T-Bold.woff) format('woff'),
    url(https://open.scdn.co/fonts/CircularSpUIv3T-Bold.ttf) format('ttf');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: spotify-circular;
  src: url(https://open.scdn.co/fonts/CircularSpUIv3T-Black.woff2)
      format('woff2'),
    url(https://open.scdn.co/fonts/CircularSpUIv3T-Black.woff) format('woff'),
    url(https://open.scdn.co/fonts/CircularSpUIv3T-Black.ttf) format('ttf');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: spotify-circular, 'Helvetica Neue', Helvetica, Arial,
    'Hiragino Kaku Gothic Pro', Meiryo, 'MS Gothic', sans-serif;
  line-height: 1.5;
  letter-spacing: 0.015rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: inherit;
}
