.page__header {
  padding: var(--main-content--padding);
}

.page__title {
  font-size: 6rem;
  line-height: 1;
  font-weight: var(--font-weight--black);
}

.page__mediaType {
  text-transform: uppercase;
  font-weight: var(--font-weight--bold);
  font-size: 0.75rem;
  letter-spacing: 1px;
}

.page__details {
  font-size: 0.875rem;

  > :not(:first-child)::before {
    content: '·';
    margin: 0 0.25rem;
  }
}

.page__entityLink {
  font-weight: var(--font-weight--bold);
}

.page__content {
  background: rgba(#000, 0.2);
  padding: var(--main-content--padding);
}
