.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--text-color--base);
  background: transparent;
  padding: 1rem var(--main-content--padding);
  position: sticky;
  top: 0;
  height: var(--main-header--height);
  width: 100%;
  pointer-events: none;
  flex-shrink: 0;
  z-index: 1;
}

.headerNavButton {
  --size: 2rem;

  pointer-events: auto;
  display: flex;
  // TODO: Get these to work. Need to fix logic in useNavigationStack.
  display: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  outline: none;
  border: none;
  background: rgba(255, 255, 255, 0.2);
  color: var(--color--white);

  &:disabled {
    opacity: 0.2;
    cursor: not-allowed;
  }
}

.clickable {
  pointer-events: auto;
}
