.layout {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas: 'sidebar main-view';
  height: 100%;
}

.layoutBackdrop {
  background: var(--backdrop-color);
  position: fixed;
  transition: background 0.3s ease-in;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(rgba(255, 255, 255, 0), #04060b);
    transition: opacity 0.3s ease-in-out;
    opacity: 1;
  }
}
