.navLink {
  line-height: 1;
  padding: 0.75rem 0;
  color: var(--text-color--muted);
  transition: color 0.2s ease-out;

  &:hover {
    color: var(--text-color--base);
  }
}

.navLinkAnchor {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 0.875rem;
  transition: color 0.2s ease-out;

  &:hover {
    text-decoration: none;
  }
}

.active {
  color: var(--text-color--base);
}
