.sidebar {
  grid-area: sidebar;
  background: rgba(var(--background--base--rgba), 0.9);
  color: var(--text-color--base);
  overflow: auto;
  padding: 1rem 1.5rem 0;
  width: var(--sidebar--width);
}

.sidebarLogo {
  padding-bottom: 1.5rem;
}

.sidebarNav {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.sidebarNavSection {
  list-style: none;
  padding: 0;

  & + .sidebarNavSection {
    margin-top: 2rem;
  }
}

.sidebarDivider {
  height: 1px;
  width: 100%;
  background: var(--border--color--base);
  border: none;
  margin: 1rem 0;
}
