.sidebar {
  grid-area: sidebar;
  background: rgba(var(--background--base--rgba), 0.5);
  color: var(--text-color--base);
  overflow: auto;
  padding: 1rem 1.5rem;
}

.sidebarLogo {
  padding-bottom: 1.5rem;
}

.sidebarLinks {
  list-style: none;
  padding: 0;
}
