.track {
  display: grid;
  grid-template-columns: 1ch 1fr auto;
  gap: 1rem;
  padding: 0.5rem 1rem;
  align-items: center;
  border-radius: 0.25rem;

  &:hover {
    background: var(--background--surface);
  }
}

.trackNumber {
  justify-self: end;
}
