.coverPhoto {
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.container {
  border-radius: 0.25rem;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  width: var(--cover-photo--size);
  height: var(--cover-photo--size);
}
