.dropdownTrigger {
  padding: 0.125rem;
  padding-right: 0.5rem;
  background-color: var(--background--base);
  text-transform: none;
  letter-spacing: 0;
  font-size: 0.875rem;

  &:hover,
  &[aria-expanded='true'] {
    background: var(--background--surface);
  }
}
