.explicitBadge {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 1rem;
  padding: 0.25rem;
  font-size: 0.5625rem;
  color: var(--background--base);
  background-color: hsla(0, 0%, 100%, 0.6);
  border-radius: 0.125rem;
}
