$alignItems: start, center, end;
$justifyContent: start, center, end;
$directions: row, column;

.Flex {
  display: flex;
  gap: var(--gap, 0);
  flex: var(--flex);
}

.inline {
  display: inline-flex;
}

@each $value in $alignItems {
  .alignItems-#{$value} {
    align-items: $value;
  }
}

@each $value in $alignItems {
  .justifyContent-#{$value} {
    justify-content: $value;
  }
}

@each $value in $directions {
  .direction-#{$value} {
    flex-direction: $value;
  }
}
