.likeButton {
  color: var(--text-color--muted);
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  transition: 0.15s color ease-out;

  &.liked {
    color: var(--color--theme);

    &:hover {
      color: var(--color--theme--light);
      color: var(--color--theme--light);
    }
  }

  &:hover {
    color: var(--text-color--base);
  }
}
