.mediaTile {
  background: var(--background--surface--low-contrast);
  transition: background 0.2s ease-out;
  padding: 1rem;
  border-radius: 0.25rem;

  &:hover {
    background: var(--background--surface--low-contrast--hover);
    text-decoration: none;
  }
}

.coverPhoto {
  box-shadow: 0 8px 24px rgb(0 0 0 / 50%);
}
