.mediaTile {
  background: var(--background--surface--low-contrast);
  transition: background 0.2s ease-out;
  padding: 1rem;
  border-radius: 0.25rem;

  &:hover {
    background: var(--background--surface--low-contrast--hover);
    text-decoration: none;
  }
}

.mediaTile__description {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}
