.player {
  align-items: center;
  display: grid;
  grid-template-columns: 30% 1fr 30%;
  color: var(--text-color--base);
  background: var(--background--surface--low-contrast);
  padding: 1rem 1.5rem;
  border-top: 1px solid var(--background--surface);
}

.device {
  padding: 0.25rem 1.5rem;
  font-size: 0.875rem;
  background-color: var(--color--theme);
  position: relative;

  &::before {
    --arrow-size: 0.625rem;

    content: '';
    position: absolute;
    top: 0;
    transform: translateY(-100%);
    border-bottom: var(--arrow-size) solid var(--color--theme);
    border-left: var(--arrow-size) solid transparent;
    border-right: var(--arrow-size) solid transparent;
    pointer-events: none;
    right: 10.5rem;
  }
}

.coverPhoto {
  --placeholder-cover-photo--background: var(--background--surface--hover);
}
