.trackName {
  font-size: 1rem;
}

.publisher,
.artistName {
  color: var(--text-color--muted);
}

.artistName > a {
  display: inline;
  transition: color 0.15s ease-out;

  &:hover {
    color: var(--text-color--base);
  }
}
