.playbarControlButton {
  border: none;
  background: transparent;
  color: var(--text-color--muted);
  padding: 0;
  cursor: pointer;
  transition: 0.15s color ease-out;

  &:hover {
    color: var(--color--white);
  }

  &:disabled {
    cursor: not-allowed;
    color: var(--text-color--disabled);
  }
}
