.player {
  align-items: center;
  display: grid;
  grid-template-columns: 30% 1fr 30%;
  color: var(--text-color--base);
  background: var(--background--surface--low-contrast);
  padding: 1rem 1.5rem;
  border-top: 1px solid var(--background--surface);
}

.device {
  &::before {
    --arrow-size: 0.625rem;

    border-bottom: var(--arrow-size) solid var(--color--theme);
    border-left: var(--arrow-size) solid transparent;
    border-right: var(--arrow-size) solid transparent;
  }
}

.coverPhoto {
  --placeholder-cover-photo--background: var(--background--surface--hover);
}

.controlLink {
  line-height: 0;
  display: block;
}
