.playlist {
  display: flex;
  flex-direction: column;
}

.playlistName {
  font-size: 6rem;
  font-weight: var(--font-weight--black);
}

.playlistInfo {
  font-size: 0.875rem;

  > :not(:first-child)::before {
    content: '·';
    margin: 0 0.25rem;
  }
}

.playlistOwner {
  font-weight: bold;
}

.playlistPlayButton {
  margin-top: 1.5rem;
}

.playlistImage {
  border-radius: 0.25rem;
  aspect-ratio: 1 / 1;
  width: 250px;
  height: 250px;
}

.spotifyIcon {
  width: 1.5rem;
}

.type {
  text-transform: uppercase;
  font-weight: var(--font-weight--bold);
  font-size: 0.75rem;
  letter-spacing: 1px;
}
