.playlist {
  display: flex;
  flex-direction: column;
}

.playlistHeader {
  padding: var(--main-content--padding);
}

.playlistName {
  font-size: 6rem;
  line-height: 1;
  font-weight: var(--font-weight--black);
}

.playlistInfo {
  font-size: 0.875rem;

  > :not(:first-child)::before {
    content: '·';
    margin: 0 0.25rem;
  }
}

.playlistOwner {
  font-weight: bold;
}

.playlistImage {
  width: 250px;
  height: 250px;
}

.spotifyIcon {
  width: 1.5rem;
}

.type {
  text-transform: uppercase;
  font-weight: var(--font-weight--bold);
  font-size: 0.75rem;
  letter-spacing: 1px;
}

.tracks {
  background: rgba(#000, 0.2);
  padding: var(--main-content--padding);
}
